#### Python 연속 타입 자료형
- 단일 데이터 n개를 가지고 있는 자료구조.
- 연속형, 시퀀스형 표현.
- 튜플만 수정불가.

|타입명|기호|특징|크기|
|--|--|:--:|--|
|`리스트`|[]|list()<br> []<br> 순서(인덱스) O<br> 값 중복 O|len()|
|`딕셔너리`|{}|dict()<br> {}<br> 순서(인덱스) X<br> 값 중복 O, 키 중복 X<br> 키와 값의 세트로 구성<br> 타언어와 통신시 json으로 대응됨 |len()|
|`튜플`|()|tuple()<br> ()<br> 순서(인덱스) O<br> 값 중복 O<br> 단수하게 값을 묶는다|len()|
|`집합`|{}|set()<br> {}<br> 순서(인덱스) X<br> 값 중복 X<br>중복 제거|len()|
|`배열`|ndarray|numpy의 자료구조, 행렬|shape|
|`시리즈`|Series|pandas의 자료구조, 1차원 구조|shape|
|`데이터프레임`|DataFrame|pandas의 자료구조, 2차원 구조|shape|
|`텐서`|Tensor|딥러닝중요 엔진들의 자료구조, tensorflow, pytorch|shape|

#### 리스트(List)

In [1]:
# 1. 생성.
# 동적생성 : 리스트의 맴버를 나중에 추가할 경우 사용.
a = list()
a, type(a), len(a)

In [2]:
# 정적구성 : 리스트의 맴버를 바로 추가하면서 생성하는 경우.
# 그러나, 나중에 맴버를 추가하는 형태에서 사용은 가능.
a = [1, 2, 3]
a, type(a), len(a)

([1, 2, 3], list, 3)

In [3]:
b = ['버거킹','롯데리아','서브웨이']
b

['버거킹', '롯데리아', '서브웨이']

In [4]:
# 리스트 합치기, 리스트의 타입이 달라도 하나의 리스트로 만드는데 문제 없음.(구성원의 맴버 타입은 중요하지 않음)
# 리턴값이 리스트로 나왔다 => 사본 출력.
c = a + b
c

[1, 2, 3, '버거킹', '롯데리아', '서브웨이']

In [5]:
# 인덱싱.
# 변수[인덱스]
# 차원축소 : 리스트에서 인덱싱을 수행하니 값이 나옴.
# 백터 => 스칼라를 취함.
c[ -1 ]

'서브웨이'

In [6]:
# 슬라이싱.
# 변수[시작인덱스 : 끝인덱스 : step(기본값1)]
# 원본 카피.
c[:]

[1, 2, 3, '버거킹', '롯데리아', '서브웨이']

In [7]:
# 처음부터 2번째까지, 뒤에서 2번째부터 끝까지
c[:2], c[-2:]

([1, 2], ['롯데리아', '서브웨이'])

In [8]:
# 수정 => 원본 수정.
# 인덱싱 수정.
c[2] = 100
c

[1, 2, 100, '버거킹', '롯데리아', '서브웨이']

In [9]:
# 슬라이싱 수정.
# 수정의 값은 연속형만 가능.
c[:2] = "1"
c

['1', 100, '버거킹', '롯데리아', '서브웨이']

In [10]:
# 추가.
c.append(10)
c

['1', 100, '버거킹', '롯데리아', '서브웨이', 10]

In [11]:
# 삭제.
# 파이썬 표현 내에서 특정 변수를 해제하는 방법 : del
del c[0]
c

[100, '버거킹', '롯데리아', '서브웨이', 10]

In [12]:
del c[:2]
c

['롯데리아', '서브웨이', 10]

In [13]:
# 전부 삭제.
c.clear()
c

[]

In [14]:
# 원본이 수정되서 c에 a가 이어 붙여짐.(추가.)
c.extend( a )
c

[1, 2, 3]

#### 딕셔너리(Dictionary )

In [15]:
# 동적 구성.
dic = dict()
dic, type(dic), len(dic)

({}, dict, 0)

In [16]:
# 정적 구성.
dic = { 'name' : '부산대' }
dic, type(dic), len(dic)

({'name': '부산대'}, dict, 1)

In [17]:
# 맴버 구성.
# 키 : 값
# 키는 함수를 제외하고는 모두 다 가능.
# 주로, 문자열, 수치 등을 사용.
# Java : Map, JS : 객체, ios : NSDictionary. 데이터 : json 등 동일 구조를 가짐.
# 주로 [ {},{},{},{} ] 이런 구조를 주로 많이 사용.
# 키는 고유함. 따라서 중복이 안됨.
exchanges = {
    'na':'미국',    
    'code':'USD',
    'buy':1118.10,
    'sell':1110.10,
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1118.1, 'sell': 1110.1}

In [18]:
# 인덱싱.
# 0, 1, 2 와 같은 순서적 키가 없으므로 값을 대변하는 키를 넣어서 값을 취함. => 직관적.
exchanges[ 'buy' ]

1118.1

In [19]:
# 슬라이싱.
# 존재하지 않음.

In [20]:
# 수정.
exchanges[ 'buy' ] = 1119.10
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1119.1, 'sell': 1110.1}

In [21]:
# 함수로 값을 추출.
exchanges.get('buy')

1119.1

In [23]:
# 해당 키가 없으면 셧다운 => 불안정적한 사용법.
# exchanges['buy1']

In [22]:
# 해당 키가 없어도 시스템이 종료되지 않음.(안정적)
# None : 값이 없다, 할당이 안됨. 비유적으로 null
# 데이터 분석으로 가면 NaN을 사용. => 분석에서는 결측치라고 함.
print( exchanges.get('buy1') )

None

In [24]:
# 추가.
# 딕셔너리에 데이터를 추가한다면 키와 값의 세트가 필요.
# 1은 키, 100은 값을 의미함.
exchanges[ 1 ] = 100
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1119.1, 'sell': 1110.1, 1: 100}

#### 튜플(Tuple)

In [25]:
# 동적 구성.
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [26]:
# 정적 구성.
# 맴버수가 1개인 경우 , 그룹화 하는 연산자와 구분이 안됨.
# 맴버가 1개면 ,를 넣어서 표식을 주어야함.
tu = (1,)
tu, type(tu), len(tu)

((1,), tuple, 1)

In [27]:
tu = (1, 2, 3, 4, 5)
tu

(1, 2, 3, 4, 5)

In [28]:
# 인덱싱.
tu[0]

1

In [29]:
# 슬라이싱.
tu[ 1 : 2 ]

(2,)

In [30]:
# 추가가 안됨 => readonly, immutable 수정/삭제불가, 읽기전용.
# 용도는 단순하게 값을 묶음.
# 함수의 리턴값이 여러 개일 경우, 
# 자동으로 튜플로 리턴됨.(리턴값을 나열하면) => 함수편에서 확인.
# 튜플의 맴버수대로 변수를 나열해서 받아주면 => 분해.
# 맴버들을 하나씩 각각 변수에 대입해서 분해됨.
a, b, c, d, e = tu
type(a), a, b, c, d, e

(int, 1, 2, 3, 4, 5)

In [31]:
# 만약에 3번째 값은 사용할 일이 없을 경우.
# 더미변수만 받아만 주고 사용은 안함 => _ 사용.
a, b, _, d, e = tu

In [32]:
# 리스트도 분해가 가능. (배열, 객체 "구조 분해" : js에서는 부름)
a, b, c = [1, 2, 3]
a

1

In [33]:
def test() :
  # 함수에서 여러개의 값으로 리턴할때 => 튜플로 리턴됨.
  return 1, 2, 4
a = test()
print(a)
type(a)

(1, 2, 4)

tuple

#### 집합(Set)

In [34]:
# 중복 제거할 대상으로부터 중복 제거를 함으로써 생성.
a = list( 'helloworld' )
a

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [35]:
# 순서 없이 고유한 값만 추출
a = list( set(a) )
a

['w', 'e', 'l', 'r', 'o', 'd', 'h']

In [36]:
# 알파벳 순으로 정렬.
a.sort()
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [37]:
# C/C++로 모듈을 만들고 Cython으로 연결하여 python으로 api를 생성.
# 느려서 잘 사용하지 않음. (set)
# 합집합
# 교집합
# 차지합

In [38]:
a = set([4,5,2,5,6,43,2,5,76,5,4,3])
b = set([5,6,7,4,3,2,100,7,4])
a, b

({2, 3, 4, 5, 6, 43, 76}, {2, 3, 4, 5, 6, 7, 100})

In [39]:
# 합집합.
a.union(b)

{2, 3, 4, 5, 6, 7, 43, 76, 100}

In [40]:
# 교집합.
a.intersection(b)

{2, 3, 4, 5, 6}

In [41]:
# 차집합.(방향성)
a.difference(b), b.difference(a)

({43, 76}, {7, 100})